<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <!-- <img src="https://img.freepik.com/free-vector/supermarket-logo-concept_23-2148467758.jpg?t=st=1717941825~exp=1717945425~hmac=bb919696020a2d957f1d741fd1e35864fc961ad5d326a85b6ae3f96eeefcb156&w=740" width="60" height="60" class="d-inline-block align-top" alt="Shop N Shop"> -->
        Shop N Shop
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/wishlist">
                    <i class="fa fa-heart"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/cart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/user/login">
                    <i class="fa fa-user"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
